@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nrg9cc');
  src:  url('../fonts/icomoon.eot?nrg9cc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nrg9cc') format('truetype'),
    url('../fonts/icomoon.woff?nrg9cc') format('woff'),
    url('../fonts/icomoon.svg?nrg9cc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alipay:before {
  content: "\e900";
  color: #07a0f8;
}
.icon-password:before {
  content: "\e901";
  color: #bfbfbf;
}
.icon-user:before {
  content: "\e902";
  color: #bfbfbf;
}
.icon-wxpay .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
.icon-wxpay .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(7, 185, 6);
}
.icon-wxpay .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(7, 185, 6);
}
